.box {
  height: 4836px;
  width: 100%;
  /* background-color: aqua; */
}

/* 1 */
.box1 {
  width: 100%;
  height: 36px;
  background-color: black;
}

.banxin1 {
  width: 1185px;
  height: 36px;
  /* background-color: aqua; */
  margin: 0 auto;
}

.wenzi {
  float: right;
}

.denglu {
  float: left;
  width: 70px;
  height: 36px;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 36px;
}

.wod {
  float: right;
  width: 50px;
  height: 15px;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 15px;
  border-left: 1px solid white;
  margin-top: 10px;
  padding-left: 3px;
}

/* 2 */
.box2 {
  width: 100%;
  height: 120px;
  /* background-color: yellow; */
}

.banxin2 {
  width: 1185px;
  height: 120px;
  margin: 0 auto;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 225px;
  height: 120px;
  /* background-color: blue; */
  margin-right: 30px;
}

.sousuokuang {
  width: 562.5px;
  height: 120px;
  /* background-color: blueviolet; */
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.gouwuche {
  width: 237.5px;
  height: 120px;
  /* background-color: burlywood; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.logo>img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 31px;
}

.content {
  width: 562.5px;
  height: 62.78px;
  /* background-color: aqua; */
  border-radius: 30px;
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.content>input {
  width: 80%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  border: 2px solid #2b6e5a;
  box-sizing: border-box;
  padding-left: 40px;

}

.content>img {
  position: absolute;
  left: 12px;
  top: 21px;
  width: 20px;
  height: 20px;
}

.text2 {
  width: 20%;
  height: 100%;
  text-align: center;
  line-height: 62.78px;
  border-radius: 0 30px 30px 0;
  box-sizing: border-box;
  background-color: #2b6e5a;
}

.content2 {
  width: 237.5px;
  height: 62.78px;
  /* background-color: #2b6e5a; */
  border-radius: 30px;
  text-align: center;
  line-height: 62.78px;
  position: relative;
  border: 2px solid #655d5d;
}

.content2>.yuan2 {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  color: white;
  text-align: center;
  line-height: 30px;

}

.content2>img {
  position: absolute;
  left: 22px;
  top: 19px;
  width: 25px;
  height: 25px;
}

/* 3 */
.box3 {
  width: 100%;
  height: 50px;
  /* background-color: brown; */
}

.banxin3 {
  width: 1185px;
  height: 50px;
  margin: 0 auto;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
}

.liebiao3 {
  width: 560px;
  height: 50px;
  /* background-color: blueviolet; */

}

.biao1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

.biao1>li {
  width: 33px;
  height: 30px;

}

.jiaju {
  border-bottom: 2px solid #2b6e5a;
  box-sizing: border-box;
}

/* 4 */
.box4 {
  width: 100%;
  height: 70px;
  background-color: #f8f8f8;
}

.banxin4 {
  width: 1185px;
  height: 70px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.item4 {
  float: left;
  margin-top: 24px;
  padding-right: 15px;
}

/* 5 */
.box5 {
  width: 100%;
  height: 4160px;
  background-color: #f8f8f8;
}

.banxin5 {
  width: 1185px;
  height: 4160px;
  margin: 0 auto;
  background-color: white;
  
}

.shang5 {
  width: 1185px;
  height: 180px;
  /* background-color: rgb(238, 131, 8); */

}

.biao5,
.biao5-3 {
  width: 1180px;
  height: 60px;
  /* background-color: burlywood; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedede;
  float: right;
}

.biao5>li,
.biao5-3>li {
  margin-right: 25px;
  font-size: 12px;
}

.biao5-3 {
  border-bottom: 0;
  position: relative;
}

.tou {
  margin-left: 15px;
}

.jiage>img {
  position: absolute;
  left: 142px;
  top: 24px;
}

.time>img {
  position: absolute;
  left: 218px;
  top: 26px;
}

.item5 {
  width: 1185px;
  height: 800px;
  /* background-color: yellow; */
  margin-top: 80px;
}

.title {
  width: 1185px;
  height: 50px;
  /* background-color: rgb(233, 18, 18); */
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
  box-sizing: border-box;
}

.zimu {
  font-size: 14px;
  font-weight: 400;
  width: 1185px;
  height: 50px;
  /* background-color: rgb(188, 131, 131); */
  text-align: center;
  color: #dedede;
}

.content5 {
  width: 1185px;
  height: 800px;
  /* background-color: tomato; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.item5-1 {
  width: 270px;
  height: 350px;
  /* background-color: blue; */
  margin: 10px;
}

.content5 img {
  width: 270px;
  height: 270px;


}

.jiage2 {
  padding-left: 20px;
  margin-top: 20px;
}



.yuan5 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  background-color: #43846f;
  left: 220px;
  top: 311px;
}

.yuan5>img {
  width: 20px;
  height: 20px;
  margin-left: 7px;
  margin-top: 8px;
}
.qiang{
  margin-top: 5px;
}
.item5-2{
  width: 1185px;
  height: 800px;
  /* background-color: yellow; */
  margin-top: 200px;
}
/* 6 */
.box6 {
  width: 100%;
  height: 300px;
  background-color: #222222;
}

.banxin6 {
  width: 1185px;
  height: 300px;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

.item6-1 {
  width: 1185px;
  height: 100px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid #655d5d;
  box-sizing: border-box;
}

.tubiao6 {
  width: 85px;
  height: 85px;
  /* background-color: red; */
  text-align: center;
  color: white;
  font-size: 12px;
  margin-left: 40px;
  margin-right: 40px;
}

.tubiao6>img {
  width: 45px;
  height: 45px;
  margin-left: -2px;
  margin-top: 9px;
}

.zuo9 {
  width: 474px;
  height: 200px;
  /* background-color: yellowgreen; */
  float: left;
  position: relative;
}

.you9 {
  width: 711px;
  height: 200px;
  /* background-color: aquamarine; */
  float: left;

}

.zuo9>img {
  position: absolute;
  right: 120px;
  top: 60px;
}

.biao9>li {
  float: left;
  margin: 30px;
  font-size: 16px;
  color: #999999;
}

.biao9-1 {
  color: #8f8f8f;
  font-size: 12px;
  margin-top: 20px;
}

li>ul {
  color: #949494;
  font-size: 12px;
  margin-top: 20px;
  padding-bottom: 10px;
}

li li {
  margin-top: 20px;
}

/* 7 */
.box7 {
  width: 100%;
  height: 100px;
  background-color: #333333;
  text-align: center;
  line-height: 100px
}

.item7 {
  width: 450px;
  height: 100px;
  margin: 0 auto;
  /* background-color: #0de4a4; */
  color: #949494;
}
