.html,
.body {
  margin: 0;
}

.box1 {
  width: 100%;
  height: 80px;
  background-color: #76c7c0;
}

.banxin {
  width: 1200px;
  height: 80px;
  background-color: aqua;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 210px;
  height: 80px;
  background-color: blue;
  text-align: center;

}

.daohanlang {
  width: 870px;
  height: 80px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
}

.tubiao {
  width: 80px;
  height: 80px;
  background-color: chocolate;
}

.logo>h2 {
  display: inline-block;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.daohanlang>.biao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.biao>li {
  width: 110px;
  height: 30px;
  margin: 10px;
  text-align: center;
  /* background-color: #76c7c0; */
}

.tubiao>img {
  margin-top: 30px;
  margin-left: 2px;
}

.biao>.yiji:hover {
  background-color: #e8645a;
}

.erji {
  width: 300px;
  height: 100px;
  background-color: #e8645a;
  position: absolute;
  left: 630px;
  top: 55px;
  display: none;


}

.yiji:hover .erji{
  display: block;
  background-color: #e8645a;
  
  
}
/* 2 */
.box2 {
  width: 100%;
  height: 350px;
  background-color: brown;
}

.banxin2 {
  width: 1200px;
  height: 350px;
  background-color: aqua;
  margin: 0 auto;
}

.banxin2>img {
  width: 1200px;
  height: 320px;
  display: block;
}

.box2-1 {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 50px;
  height: 10px;
  background-color: #b0b8b9;
}

/* 3 */
.box3 {
  width: 100%;
  height: 70px;
  background-color: #b0b8b9;
}

.banxin3 {
  width: 1200px;
  height: 70px;
  background-color: blueviolet;
  margin: 0 auto;
}

.item3 {
  width: 1200px;
  height: 40px;
  background-color: blue;

}

.item3-1 {
  width: 500px;
  height: 30px;
  float: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

}

.item3-2 {
  width: 200px;
  height: 40px;
  float: right;
  font-size: 25px;
  background-color: #e8645a;
  text-align: center;
  line-height: 40px;
  color: white;
  margin-right: 100px;
}

.item3-3 {
  width: 900px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}

/* 4 */
.box4 {
  width: 100%;
  height: 300px;
  background-color: aquamarine;
}

.banxin4 {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.item4,
.item4-1,
.item4-2,
.item4-3 {
  width: 220px;
  height: 250px;
  background-color: #b0b8b9;
  margin: 10px;

}

.item4>img {
  margin-left: 75px;
  margin-top: 11px;
}

.item4>h4 {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #e8645a;
}

.text1 {
  font-size: 12px;
  text-align: center;
}

.anniu {
  width: 170px;
  height: 40px;
  background-color: #e8645a;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 33px;
  top: 256px;
}

.item4-1>img {
  margin-left: 75px;
  margin-top: 11px;
}

.item4-1>h4 {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #e8645a;
}

.text1 {
  font-size: 12px;
  text-align: center;
}

.anniu2 {
  width: 170px;
  height: 40px;
  background-color: #e8645a;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 351px;
  top: 256px;
}

.item4-2>img {
  margin-left: 75px;
  margin-top: 11px;
}

.item4-2>h4 {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #e8645a;
}

.text1 {
  font-size: 12px;
  text-align: center;
}

.anniu3 {
  width: 170px;
  height: 40px;
  background-color: #e8645a;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 674px;
  top: 256px;
}

.item4-3>img {
  margin-left: 75px;
  margin-top: 11px;
}

.item4-3>h4 {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #e8645a;
}

.text1 {
  font-size: 12px;
  text-align: center;
}

.anniu4 {
  width: 170px;
  height: 40px;
  background-color: #e8645a;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 996px;
  top: 256px;
}

/* 5 */
.box5 {
  width: 100%;
  height: 300px;
  background-color: #062258;
  margin-bottom: 139px;
}

.banxin5 {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  background-color: #e8645a;

}

.text2 {
  width: 1200px;
  height: 120px;
  background-color: yellowgreen;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
}

.zuo {

  float: left;
  margin-left: 50px;
}

.zhong {
  float: left;

}

.you {
  float: left;

}

/* 6 */
.box6 {
  width: 100%;
  height: 350px;
  background-color: blue;
}

.banxin6 {
  width: 1200px;
  height: 350px;
  background-color: #e8645a;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.banxin6>.zuo6 {
  width: 250px;
  height: 300px;
  background-color: khaki;
  margin: 10px;
  text-align: center;
  font-size: 15px;
}

.banxin6>.zhong6 {
  width: 600px;
  height: 300px;
  background-color: yellow;
  margin: 10px;
}

.banxin6>.you6 {
  width: 300px;
  height: 300px;
  background-color: red;
  margin: 10px;
}

.zuo6 li {
  margin-top: 20px;
}

.zhong6-2 {
  float: left;
  color: red;
  text-decoration: underline;
}

.tubiao6 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.text6-1 {
  font-size: 20px;
  margin: 20px;
}

.text6-2 {
  width: 200px;
  height: 150px;
  color: white;
  background-color: #76c7c0;
}

/* 7 */
.box7 {
  width: 100%;
  height: 200px;
  background-color: aqua;
}

.banxin7 {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  background-color: red;
}