html,
body {
  margin: 0;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  float: left;
  margin-left: 10px;


}

.box>.item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 二 */
.box1 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  float: left;
  margin-left: 10px;
}

.box1>.item1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 三 */
.box2 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  float: left;
  margin-left: 10px;
}

.box2>.item2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 四 */
.box3 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  align-items: center;
  float: left;
  margin-left: 10px;
}

.box3>.item3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 五 */
.box4 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-left: 10px;
}

.box4>.item4 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 六 */
.box5 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  float: left;
  margin-left: 10px;
  clear: left;
  margin-top: 10px;
}

.box5>.item5 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 七 */
.box6 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.box6>.item6 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 八 */
.box7 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.box7>.item7-1,
.box7>.item7 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 九 */
.box8 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.box8>.item8-1,
.box8>.item8 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 十 */
.box9 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.box9>.item9-1,
.box9>.item9 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 11 */
.box10 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  clear: left;
}

.box10>.item10-1,
.box10>.item10 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 12 */
.box11 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.box11 .item11-1,
.box11>.item11,
.box11 .item11-2,
.box11 .item11-3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 13 */
.box12 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.h1,
.h2 {
  width: 200px;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.h2 {
  align-items: flex-end;
}

.h1>.item12,
.h1>.item12-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

.h2>.item12-2,
.h2>.item12-3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 14 */
.box13 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.a1,
.a2 {
  width: 200px;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.a2 {
  align-items: flex-end;
}


.a1>.item13,
.a1>.item13-1,
.a1>.item13-2,
.a2>.item13-3,
.a2>.item13-4,
.a2>.item13-5 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px
}

/* 15 */
.box14 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;


}

.b1,
.b2 {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.b1>.item14,
.b1>.item14-1,
.b1>.item14-2,
.b2>.item14-3,
.b2>.item14-4,
.b2>.item14-5 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px;

}

.box15 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  clear: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.item15 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 10px;
}

.k {
  display: flex;
  justify-content: space-between;
}

.k-1 {
  display: flex;
  justify-content: center;
}

.k-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.box16 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.g {
  display: flex;
  justify-content: space-between;
}

/* 18*/
.box17 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  



}

.x-1 {
  display: flex;
  justify-content: center;

}

/* 19 */
.box19 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;




}

.q1 {
  display: flex;
  justify-content: flex-end;

}

.box20 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.o1 {
  display: flex;
  justify-content: center;
}

.o2 {
  display: flex;
  justify-content: flex-end;
}