.box {
  height: 3746px;
  width: 100%;
  /* background-color: aqua; */
}

html,
body {
  margin: 0;
}

/* 1 */
.box>.shang {
  width: 100%;
  height: 36px;
  background-color: #000;
}

.banxin {
  width: 1185px;
  height: 36px;
  /* background-color: aquamarine; */
  margin: 0 auto;
}

.wenzi {
  width: 122px;
  height: 16px;
  float: right;
  /* background-color: blue; */
  color: white;
  font-size: 12px;
  margin-top: 10px;


}

.wod {
  width: 55px;
  height: 16px;
  display: inline-block;
  border-left: 1px solid white;
  box-sizing: border-box;
  margin-left: 5px;
  text-align: right;



}

.denglu {
  width: 55px;
  height: 16px;
  display: inline-block;
}

/* 2 */
.box>.daohanlang {
  width: 100%;
  height: 170px;
  /* background-color: rgb(224, 133, 13); */
}

.daohanlang>.banxin2 {
  width: 1185px;
  height: 100%;
  /* background-color: blue; */
  margin: 0 auto;
}

.box1 {
  width: 1185px;
  height: 130px;
  /* background-color: blueviolet; */
  overflow: hidden;

}

.box1>.logo {
  width: 20%;
  /* background-color: chartreuse; */
  margin-top: 30px;

}

.logo>img {
  width: 100%;
  height: auto;
  display: block;
  float: left;
}

.box1>.sousuokuang {
  width: 50%;
  height: 100px;
  /* background-color: rgb(234, 9, 43); */
  float: left;

}

.sousuokuang>.kuang {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  background-color: cadetblue;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 10px;
  position: relative;



}

.kuang>input {
  float: left;
  width: 80%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  padding-left: 40px;
  border: 2px solid #2b6e5a;



}

.kuang>.sousuo {
  float: left;
  width: 20%;
  height: 50px;
  /* background-color: #2b6e5a; */

  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;

}

.kuang>img {
  position: absolute;
  left: 15px;
  top: 15px;
}

.box1>.gouwuche {
  width: 30%;
  height: 100px;
  /* background-color: burlywood; */
  float: left;
  overflow: hidden;

}

.youbian {
  width: 70%;
  height: 50px;
  /* background-color: cadetblue; */
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 40px;
  position: relative;
  border: 2px solid #655d5d;


}

.youbian>img {
  position: absolute;
  left: 10px;
  top: 15px;
}

.zi {
  float: left;
  margin-left: 99px;
  margin-top: 15px;

}

.yuan {
  width: 30px;
  height: 30px;
  background-color: red;
  float: right;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.liebiao {
  width: 537px;
  height: 40px;
  /* background-color: #2b6e5a; */
  margin-left: 236px;

}

/* .biao1{
  width: 537px;
  height: 35px;
  margin-bottom: 5px;
} */
.biao1>li {
  float: left;
  text-align: center;
  line-height: 40px;
  margin-left: 43px;



}


.shouye:hover {
  display: block;
  border-bottom: 2px solid #a8c6bc;
  box-sizing: border-box;

}

/* 3 */
.box3 {
  width: 100%;
  height: 420px;
  /* background-color: #2b6e5a; */
}

.banxin3 {
  width: 100%;
  height: 420px;
  margin: 0 auto;
  /* background-color: yellow; */

}

.banxin3>img {
  width: 100%;
  height: 420px;
  display: block;
  margin-top: 5px;
  box-sizing: border-box;
}

/* 4 */
.box4 {
  width: 100%;
  height: 526px;
  /* background-color: brown; */
  position: relative;
}

.banxin4 {
  width: 1185px;
  height: 526px;
  margin: 0 auto;
  /* background-color: chartreuse; */
}

.item1 {
  width: 1185px;
  height: 100px;

}


.item1-1 {
  width: 80px;
  height: 60px;
  float: left;
  font-size: 20px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  margin-top: 40px;
  padding-top: 20px;
}

.item1-2 {
  width: 64px;
  height: 60px;
  float: right;
  font-size: 12px;
  padding-right: 15px;
  position: relative;
  margin-top: 40px;
  padding-top: 39px;
  box-sizing: border-box;
}

.item1-2>img {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 52px;
  top: 43px;
}

.item2 {
  width: 1185px;
  height: 400px;
  /* background-color: blueviolet; */
  clear: left;
  border-top: 1px solid #dedede;
}

.item2-1,
.item2-2,
.item2-3 {
  width: 281.25px;
  height: 300px;
  /* background-color: #2b6e5a; */
  float: left;
  margin-right: 20px;
  margin-top: 100px;
}

.item2-4 {
  width: 281.25px;
  height: 300px;
  /* background-color: #2b6e5a; */
  float: left;
  margin-top: 100px;
}

.item2 img {
  width: 281.25px;
  height: 250px;
  display: block;
}

.text {
  text-align: center;
}

.box4>.yuan1 {
  width: 50px;
  height: 50px;
  background-color: #2b6e5a;
  border-radius: 50%;
  position: absolute;
  left: 174px;
  top: 310px;
}

.box4>.yuan2 {
  width: 50px;
  height: 50px;
  background-color: #2b6e5a;
  border-radius: 50%;
  position: absolute;
  right: 174px;
  top: 310px;
}

.yuan1>img,
.yuan2>img {
  margin-left: 15px;
  margin-top: 12px;
}

/* 5 */
.box5 {
  width: 100%;
  height: 700px;
  /* background-color: brown; */
}

.banxin5 {
  width: 1185px;
  height: 700px;
  margin: 0 auto;
  /* background-color: #2b6e5a; */
}

.dengbu {
  width: 1185px;
  height: 40px;
}

.item5-1 {
  width: 82px;
  height: 30px;
  font-size: 20px;
  border-bottom: 3px solid black;
  float: left;
  box-sizing: border-box;
}

.item5-2 {
  width: 50px;
  height: 20px;
  float: left;
  /* border-bottom: 1px solid #0de4a4; */
  color: #0de4a4;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;

}

.item5-3 {
  float: left;
  margin-left: 30px;
  margin-top: 10px;

}

.item5-4 {
  float: right;
  padding-right: 20px;
  position: relative;

}

.item5-4>img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 4px;
  top: 5px;
}

.tuceng {
  width: 1185px;
  height: 660px;
  /* background-color: chartreuse; */
}

.shang5>.tuceng1,
.shang5>.tuceng2 {
  width: 281.25px;
  height: 300px;
  /* background-color: yellow; */
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.shang5>.tuceng2 {
  margin-right: 0;
}

.xia5>.tuceng1,
.xia5>.tuceng2 {
  width: 281.25px;
  height: 300px;
  /* background-color: yellow; */
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.xia5>.tuceng2 {
  margin-right: 0;
}

.tuceng img {
  width: 281.25px;
  height: 250px;
  display: block;
}

.tuceng {
  text-align: center;
}

/* 6 */
.box6 {
  width: 100%;
  /* height: 300px; */
  /* background-color: #0de4a4; */
}

.box6>img {
  width: 100%;
  height: auto;
  display: block;
}

/* 7 */
.box7 {
  width: 100%;
  height: 1000px;
  /* background-color: #0de4a4; */
}

.banxin7 {
  width: 1185px;
  height: 1000px;
  margin: 0 auto;
  /* background-color: rebeccapurple; */
}

.liebiao7 {
  width: 1185px;
  height: 50px;
  /* background-color: brown; */
}

.zuo7 {
  float: left;
  margin-right: 45px;
  width: 80px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  font-size: 20px;
}

.biao7>li {
  float: left;
  font-size: 12px;
  margin-right: 20px;
  margin-top: 27px;
}

.biao7-1 {
  border-bottom: 2px solid #54897a;
  color: #54897a;
  box-sizing: border-box;
}

.you7 {
  float: right;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  color: #655d5d;
  position: relative;


}

.you7>img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 20px;
  top: 6px;
}

.tuceng7 {
  width: 1185px;
  height: 950px;
  /* background-color: cadetblue; */
  text-align: center;
}

.item7,
.item7-1 {
  width: 281.25px;
  height: 300px;
  float: left;
  margin-right: 20px;
  /* background-color: blue; */
  margin-top: 16px;
}

.item7-1 {
  margin-right: 0;
}

.tuceng7 img {
  width: 281.25px;
  height: 250px;
}

/* 8 */
.box8 {
  width: 100%;
  height: 400px;
  /* background-color: #f00b40; */

}

.banxin8 {
  width: 1185px;
  height: 400px;
  margin: 0 auto;
  /* background-color: cadetblue; */
}

.item8 {
  width: 1185px;
  height: 50px;
  /* background-color: #3101df; */
}

.item8-1 {
  float: left;
  width: 104px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 2px solid #0de4a4;
  box-sizing: border-box;

}

.item8-2 {
  float: left;
  margin-left: 40px;
  width: 140px;
  height: 30px;
  margin-top: 20px;
  font-size: 12px;

}

.item8-3 {
  float: right;
  width: 90px;
  height: 30px;
  margin-top: 20px;
  color: #655d5d;
  font-size: 12px;
  position: relative;
}

.item8-3>img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 24px;
  top: 3px;
}

.tuceng8 {
  width: 1185px;
  height: 350px;
  /* background-color: yellow; */
}

.tuceng8-1,
.tuceng8-2,
.tuceng8-3 {
  width: calc(375px + 20px / 3);
  height: 300px;
  float: left;
  margin-right: 20px;
  /* background-color: aqua; */
  margin-top: 25px;
  position: relative;
}

.tuceng8-3 {
  margin-right: 0;
  position: relative;
}

.tuceng8-1 {
  background-image: url("../images/生活家晒单\ \(1\).png");
}

.tuceng8-1>.yicang {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;

}

.shang8 {
  width: calc(375px + 20px / 3);
  height: 100px;
  position: relative;

}

.yuan8 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #666666;
  position: absolute;
  left: 153px;
  top: 35px;
}

.tuceng8-1:hover .yicang {
  display: block;
}

.tuceng8 img {
  width: calc(375px + 20px / 3);
  height: 300px;
}

.youhui {
  width: 120px;
  height: 50px;
  border: 2px solid orange;
  font-size: 12px;
  color: orange;
  float: left;
  margin-left: 127px;
  text-align: center;
  margin-top: 30px;
}

.youhui1 {
  margin-top: 5px;
}

.yicang2 {
  position: absolute;
  background-color: rgba(68, 59, 50, 0.6);
  width: calc(375px + 20px / 3);
  height: 50px;
  bottom: 0;
  color: white;
  text-align: center;
  line-height: 50px;
}
.yicang3 {
  position: absolute;
  background-color: rgba(68, 59, 50, 0.6);
  width: calc(375px + 20px / 3);
  height: 50px;
  bottom: 0;
  color: white;
  text-align: center;
  line-height: 50px;
}

/* 9 */
.box9 {
  width: 100%;
  height: 300px;
  background-color: #222222;
}

.banxin9 {
  width: 1185px;
  height: 300px;
  margin: 0 auto;
  /* background-color: #0de4a4; */
}

.item9-1 {
  width: 1185px;
  height: 100px;
  /* background-color: #f00b40; */
  font-size: 12px;
  color: white;
  text-align: center;
  border-bottom: 3px solid #655d5d;
  box-sizing: border-box;
}

.tubiao {
  width: 85px;
  height: 85px;
  /* background-color: #54897a; */
  float: left;
  margin-left: 20px;
  margin-right: 160px;
  margin-top: 5px;

}

.tubiao2 {
  width: 85px;
  height: 85px;
  /* background-color: #54897a; */
  float: right;
  margin-right: 20px;
  margin-top: 5px;

}

.item9-1 img {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: 23px;
  margin-top: 7px;
  margin-bottom: 10px;

}

.zuo9 {
  width: 474px;
  height: 200px;
  /* background-color: yellowgreen; */
  float: left;
  position: relative;
}

.you9 {
  width: 711px;
  height: 200px;
  /* background-color: aquamarine; */
  float: left;

}

.zuo9>img {
  position: absolute;
  right: 120px;
  top: 60px;
}

.biao9>li {
  float: left;
  margin: 30px;
  font-size: 16px;
  color: #999999;
}

.biao9-1 {
  color: #8f8f8f;
  font-size: 12px;
  margin-top: 20px;
}

li>ul {
  color: #949494;
  font-size: 12px;
  margin-top: 20px;
  padding-bottom: 10px;
}

li li {
  margin-top: 20px;
}

/* 10 */
.box10 {
  width: 100%;
  height: 100px;
  background-color: #333333;
  text-align: center;
  line-height: 100px
}

.item10 {
  width: 450px;
  height: 100px;
  margin: 0 auto;
  /* background-color: #0de4a4; */
  color: #949494;
}